In [16]:
import pandas as pd
from pathlib import Path

current_dir = Path.cwd()
# 若 CSV 與此 notebook 同資料夾
csv_path = current_dir / "台鐵車站資訊.csv"
stations_df = pd.read_csv(csv_path)
#display(stations_df.head())
stations_df = stations_df.reindex(columns=["stationCode", "stationName"])

#欄位名稱更改為[車站代碼, 車站名稱]
stations_df.columns = ["車站代碼", "車站名稱"]
stations_df

     車站代碼 車站名稱
0     900   基隆
1     910   三坑
2     920   八堵
3     930   七堵
4     940   百福
..    ...  ...
238  7360   瑞芳
239  7361  海科館
240  7362  八斗子
241  7380  四腳亭
242  7390   暖暖

[243 rows x 2 columns]

In [24]:
current_dir = Path.cwd()
# 若 CSV 與此 notebook 同資料夾
csv_path = current_dir / "每日各站進出站人數/每日各站進出站人數2020.csv"
year_df = pd.read_csv(csv_path)
year_df.columns = ["日期", "車站代碼", "進站人數", "出站人數"]
display(year_df.head())
#日期欄位目前是int64, 需要轉換為datetime格式
year_df["日期"] = pd.to_datetime(year_df["日期"], format="%Y%m%d")
year_df.info()

         日期  車站代碼  進站人數  出站人數
0  20200101   900  7552  8154
1  20200101   910  1020  1135
2  20200101   920  1623  1972
3  20200101   930  4130  4813
4  20200101   940  1818  2128

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86932 entries, 0 to 86931
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      86932 non-null  datetime64[ns]
 1   車站代碼    86932 non-null  int64
 2   進站人數    86932 non-null  int64
 3   出站人數    86932 non-null  int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 2.7 MB

In [27]:
merged_df_2020= pd.merge(year_df, stations_df, on="車站代碼")
merged_df_2020 = merged_df_2020.reindex(columns=["日期","車站名稱","進站人數","出站人數"])
merged_df_2020.head()
#將欄位:日期,變為index
merged_df_2020.set_index("日期", inplace=True)

In [37]:
merged_df_2020.loc["2020-01-01"] #搜尋2020年1月1日的資料
merged_df_2020.loc["2020-01"] #搜尋2020年1月的資料
merged_df_2020.loc["2020-01":"2020-02"] #搜尋2020年1,2月的資料
merged_df_2020.loc["2020-01":"2020-02"].query("車站名稱 == '基隆'")

           車站名稱  進站人數  出站人數
日期
2020-01-01   基隆  7552  8154
2020-01-02   基隆  7709  7240
2020-01-03   基隆  8713  8086
2020-01-04   基隆  8625  8407
2020-01-05   基隆  8015  7355
2020-01-06   基隆  7484  7124
2020-01-07   基隆  7529  7401
2020-01-08   基隆  7382  7030
2020-01-09   基隆  7916  7405
2020-01-10   基隆  9695  8944
2020-01-11   基隆  8356  8012
2020-01-12   基隆  7257  6637
2020-01-13   基隆  7154  6913
2020-01-14   基隆  7744  7102
2020-01-15   基隆  6155  6775
2020-01-16   基隆  8447  7936
2020-01-17   基隆  7965  7454
2020-01-18   基隆  7634  7280
2020-01-19   基隆  6923  6636
2020-01-20   基隆  7889  7302
2020-01-21   基隆  8248  7650
2020-01-22   基隆  7840  7859
2020-01-23   基隆  6009  6158
2020-01-24   基隆  4827  5694
2020-01-25   基隆  8749  7894
2020-01-26   基隆  7832  7367
2020-01-27   基隆  8688  8039
2020-01-28   基隆  8107  8206
2020-01-29   基隆  7093  6639
2020-01-30   基隆  7138  6668
2020-01-31   基隆  7980  7600
2020-02-01   基隆  6499  6593
2020-02-02   基隆  6736  6422
2020-02-03   基隆  7046  6658
2020-02-04   基隆  6693  6260
2020-02-05   基隆  6393  5827
2020-02-06   基隆  6576  5939
2020-02-07   基隆  6381  5139
2020-02-08   基隆  4586  4332
2020-02-09   基隆  4446  4292
2020-02-10   基隆  6180  5795
2020-02-11   基隆  5999  5591
2020-02-12   基隆  6562  5875
2020-02-13   基隆  6172  5674
2020-02-14   基隆  6892  6184
2020-02-15   基隆  6012  5467
2020-02-16   基隆  4205  4045
2020-02-17   基隆  5489  5534
2020-02-18   基隆  5952  5603
2020-02-19   基隆  6360  5875
2020-02-20   基隆  6347  5709
2020-02-21   基隆  6873  6428
2020-02-22   基隆  5184  5109
2020-02-23   基隆  4841  4504
2020-02-24   基隆  6525  6220
2020-02-25   基隆  6775  6237
2020-02-26   基隆  6426  5832
2020-02-27   基隆  6899  6419
2020-02-28   基隆  6312  5790
2020-02-29   基隆  5747  5442