In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(16).reshape(4,4),
                   index=['台北','台中', '台南', '高雄'],
                   columns=['one', 'two', 'three', 'four'])
df

    one  two  three  four
台北    0    1      2     3
台中    4    5      6     7
台南    8    9     10    11
高雄   12   13     14    15

In [3]:
#drop
df.drop(index=['台北', '高雄'], inplace=True)
df

    one  two  three  four
台中    4    5      6     7
台南    8    9     10    11

In [ ]:
#排序和排名

scores = np.random.randint(50,101,size=(50, 5))
df = pd.DataFrame(scores,
                  columns=['國文', '英文', '數學', '自然', '社會'],
                  index=['學生' + str(i) for i in range(1, 51)])
df.index.name = '學生'
df.columns.name = '科目'
sum_values = df.sum(axis=1)
mean_values = df.mean(axis=1)
df['總分'] = sum_values
df['平均'] = mean_values
df

In [ ]:
#排序和排名
#rank()
rank_values = sum_values.rank(method='min')
df['排名'] = rank_values
df

In [22]:
#sort_values()
#sort_index()
df1 = df.sort_values(by='總分', ascending=True)
df1

科目     國文  英文  數學   自然   社會   總分    平均    排名
學生
學生32   61  67  63   50   53  294  58.8   1.0
學生22   76  54  60   63   50  303  60.6   2.0
學生14   67  50  70   71   56  314  62.8   3.0
學生47   53  58  78   76   54  319  63.8   4.0
學生39   52  60  93   62   56  323  64.6   5.0
學生29   70  52  84   63   61  330  66.0   6.0
學生5    52  63  84   86   50  335  67.0   7.0
學生10   52  87  82   56   58  335  67.0   7.0
學生21   55  99  59   74   53  340  68.0   9.0
學生2    50  54  79   59  100  342  68.4  10.0
學生49   73  50  72   78   72  345  69.0  11.0
學生44   51  84  79   73   58  345  69.0  11.0
學生9    62  72  62   69   85  350  70.0  13.0
學生3    61  82  53   64   94  354  70.8  14.0
學生48   60  83  83   68   61  355  71.0  15.0
學生25   50  61  91   91   64  357  71.4  16.0
學生38   85  59  67   74   73  358  71.6  17.0
學生50   86  64  75   66   67  358  71.6  17.0
學生40   73  78  78   57   76  362  72.4  19.0
學生18   71  60  94   82   56  363  72.6  20.0
學生41   75  90  56   67   76  364  72.8  21.0
學生28   75  61  52   85   94  367  73.4  22.0
學生30   52  62  85   79   92  370  74.0  23.0
學生15   95  83  80   61   53  372  74.4  24.0
學生35   90  82  69   50   85  376  75.2  25.0
學生1    67  78  89   77   66  377  75.4  26.0
學生24   93  96  52   87   50  378  75.6  27.0
學生46   62  61  81   99   78  381  76.2  28.0
學生19   94  66  89   69   65  383  76.6  29.0
學生43   89  70  99   60   67  385  77.0  30.0
學生42   80  94  50   68   93  385  77.0  30.0
學生17   69  85  64   72   99  389  77.8  32.0
學生16   89  84  66   63   91  393  78.6  33.0
學生31   79  67  62   91   97  396  79.2  34.0
學生23   68  96  91   94   51  400  80.0  35.0
學生34  100  82  65   63   94  404  80.8  36.0
學生12   87  80  66   95   79  407  81.4  37.0
學生4    97  96  90   68   56  407  81.4  37.0
學生27   72  90  70   81   94  407  81.4  37.0
學生13   90  86  85   87   60  408  81.6  40.0
學生8    60  83  98   71   97  409  81.8  41.0
學生45   74  73  71   92  100  410  82.0  42.0
學生6    57  97  93  100   69  416  83.2  43.0
學生20   97  93  75   87   67  419  83.8  44.0
學生7    90  91  80   59  100  420  84.0  45.0
學生36   95  55  83   96   93  422  84.4  46.0
學生37   99  95  81   86   62  423  84.6  47.0
學生26   99  89  97   66   89  440  88.0  48.0
學生33   75  91  88   99   90  443  88.6  49.0
學生11   99  86  81   98   98  462  92.4  50.0