In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.832596 -0.912690
1    a  two  0.223193 -0.264760
2    b  one  0.261621  0.023697
3    b  two  0.226029 -0.569798
4    a  one -0.010784 -0.292453

In [3]:
df.groupby('key1') #DataFrame執行Groupby
# 只對數值欄位計算平均值（避免對物件欄位套用 mean）
mean_df = df.groupby('key1')[['data1', 'data2']].mean()

In [4]:
mean_df.stack()

key1
a     data1    0.348335
      data2   -0.489968
b     data1    0.243825
      data2   -0.273051
dtype: float64

In [7]:
df1 =  df.groupby('key1')[['data1', 'data2']].agg(['mean', 'std'])
df1 #3維資料
df1.columns.names = ["資料","統計"]
df1.index.name = "類別"
#樞紐分析表
df1
#df1.stack(level="統計",future_stack=True)
df1.stack(level="資料",future_stack=True)

統計            mean       std
類別 資料
a  data1  0.348335  0.435394
   data2 -0.489968  0.366350
b  data1  0.243825  0.025168
   data2 -0.273051  0.419664