In [4]:
import numpy as np
import pandas as pd

tips = pd.read_csv('tips.csv')
tips.columns = ['總票價','小費','吸煙者','日期','時間','大小']
tips['小費比例'] = tips['小費'] / tips['總票價']

#將小費比例轉換為`xx.x%`
tips['小費比例'] = tips['小費比例'].map("{:.1%}".format)
tips.head()

     總票價    小費 吸煙者   日期      時間  大小   小費比例
0  16.99  1.01  No  Sun  Dinner   2   5.9%
1  10.34  1.66  No  Sun  Dinner   3  16.1%
2  21.01  3.50  No  Sun  Dinner   3  16.7%
3  23.68  3.31  No  Sun  Dinner   2  14.0%
4  24.59  3.61  No  Sun  Dinner   4  14.7%